@{
    Layout = "_Layout";
    var Model = ViewData["ViewModel"] as BaseEntityViewModel;
    var entity = Model.EntityPageName;
    var routePrefix = $"/js/{Model.EntityName}s";
}

<div class="container mt-5">
    <div class="card shadow-sm rounded-4">

        <div class="card-header bg-warning text-dark">
            <h3 class="mb-0">Edit @entity</h3>
        </div>

        <div class="card-body">
            <form>

                <!-- Fields injection here -->
                @await Html.PartialAsync("Fields/_DynamicFields", Model.DynamicFields)
                @await RenderSectionAsync("AdditionalFields", required: true)

                <div class="d-flex justify-content-between align-items-center mt-4">
                    <button type="button" onclick="updateEntity(@Model.Id)" class="btn btn-lg btn-warning px-4 text-black">
                        <i class="bi bi-pencil-square me-2"></i> Update
                    </button>

                    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
                </div>

            </form>
        </div>

    </div>
</div>

@section Scripts {
    <script src="/js/Generics/edit.js"></script>
    <script src="@(routePrefix)/common.js"></script>
    <script src="@(routePrefix)/edit.js"></script>
    <script>
        $(document).ready(function () {
            loadFormEntity(@Model.Id);
        });
    </script>

    @await RenderSectionAsync("AdditionalScripts", required: false)
}